.App {
    padding: 1rem;
    text-align: center;
    background-color: #35363a;
    height: 100vh;
}

.button {
    cursor: pointer;
}

i.disabled.icon {
    cursor: default;
}

.ui .progress.progress-bar {
    margin-bottom: 0;
}
